.buildings_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards_icon {
  font-size: 20px;
  margin-bottom: -3px;
  margin-right: 10px;
}

.progress_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buildingCards {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  color: white;
}
.card {
  width: 100%;
  height: 70%;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: flex-end;
  background: #f7ee8f;
  background: linear-gradient(0deg, #fbf4a4, #cffeed);
  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
  cursor: pointer;
  transition: 0.5s;
}

.card:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card_image {
  width: 70%;
  height: auto;
}
.card_title {
  font-size: 2.5rem;
}
.card_subtitle {
  font-size: 1rem;
}
