.menu_sider{
  border-radius: 15px;
  margin: 5px 0 5px 10px;
  padding: 15px;
}

.menu_side_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(---dark-color);
  color: var(--primary-color);
  height: 100%;
}

.menu_side_wrapper_bottom {
  background-color: var(--primary-color);
  height: 100%;
}

.ant-menu-light .ant-menu-item-selected{
  border: 1px solid var(--primary-color)
}

.icon_size_menu {
  color: #ffffff !important;
  font-size: 1.5rem !important;
  font-weight: bold;
  margin-left: -3px !important;
}

.title {
  padding-top: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider{
  background-color: #fff;
}

.icon {
  font-size: 1.5rem;
}

.text_size_menu {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: -1.2rem;
}

.menu_styles {
  background-color: #fcfcfc;
}

.site_page_header {
  border: 1px solid rgb(235, 237, 240);
}

.logo {
  float: left;
  color: #fb244f;
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
  margin-left: -1rem;
}
.cta_user_name {
  float: right;
  color: var(--dark-color);
  cursor: pointer;
}
/* CSS (pageHeader.module.css) */
.menu {
  display: block;
}

.menuIcon {
  display: none;
}

.ant-menu-title-content{
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;
  padding-top: 6px !important;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .menuIcon {
    display: inline-block;
  }
  .logo {
    font-size: 25px;
    font-weight: 700;
  }
}

@media (min-width: 2000px) {
  .menu_side_wrapper {
    height: 90vh;
  }
  .menu_side_wrapper_bottom {
    height: 5vh;
  }
}
